@model ProductInvoice.Models.Discount

@{
    ViewData["Title"] = "AddDiscount";
}

<h1>AddDiscount</h1>

<h4>Discount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDiscount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <select asp-for="ProductId" asp-items="@(new SelectList(ViewBag.Products,"ProductId","ProductName"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercent" class="control-label"></label>
                <input asp-for="DiscountPercent" class="form-control" />
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DiscountExpiration" class="control-label"></label>
                <input asp-for="DiscountExpiration" class="form-control" />
                <span asp-validation-for="DiscountExpiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
