@model ProductInvoice.Models.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = null;
}
<form asp-action="AddProduct" onsubmit="return ajaxPost(this);" autocomplete="on">
    
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
    <div class="col-md-6">
       <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ProductCategory" class="control-label"></label>
@*                <select asp-for="ProductCategory" class="form-control" asp-items="new SelectList(ViewBag.ProductCategory)" />*@
                  @Html.DropDownList("ProductCategory",(IEnumerable<SelectListItem>)ViewBag.ProductCategory,new {@class="form-control"})
                  <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="form-group">
                <label asp-for="ProductBasePrice" class="control-label"></label>
                <input asp-for="ProductBasePrice" class="form-control" />
                <span asp-validation-for="ProductBasePrice" class="text-danger"></span>
            </div>
            </div>
            <br />
            <div class="col-md-2 offset-5">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </div>
            </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
