@model ProductInvoice.Models.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = null;
}
<form asp-action="AddProduct" onsubmit=" return Validate(this);" autocomplete="on">
    @Html.ValidationSummary()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
    <div class="col-md-6">
       <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                   @Html.ValidationMessageFor(x => x.ProductName, "Please enter a Name", new { @class = "text-danger", style ="display:none" })
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ProductCategory" class="control-label"></label>
                @Html.DropDownList("ProductCategory",(IEnumerable<SelectListItem>)ViewBag.ProductCategory,new {@class="form-control"})
                  <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="form-group">
                <label asp-for="ProductBasePrice" class="control-label"></label>
                <input type="number" asp-for="ProductBasePrice" class="form-control" />
               @Html.ValidationMessageFor(x => x.ProductBasePrice, "Please enter a Price", new { @class = "text-danger", style ="display:none" })
             </div>
            </div>
            <br />
            <div class="col-md-2 offset-5">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </div>
            </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
$(document).ready(function() {
    Validate();
})
function Validate() {
    event = event || window.event || event.srcElement;
    var return_val = true;
    if ($('#ProductName').val() == '') {
        $('#ProductName').next('span').show();
        return_val= false;
    }
    else{
        $('#ProductName').next('span').hide();
    }
    if ($('#ProductBasePrice').val() == '') {
        $('#ProductBasePrice').next('span').show();
        return_val = false;
    }
    else {
        $('#ProductBasePrice').next('span').hide();
    }
    return return_val;
}
</script>