<div id="id">
@model IEnumerable<ProductInvoice.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-2" >
    <button onclick="AddProductFunc('@Url.Action("AddProduct","Product",null,Context.Request.Scheme)','New Product')" 
        class="btn  btn-outline-primary"><i class="fa-solid fa-circle-plus"></i> Add Product</button>
    </div>
<div class="col-md-3 offset-7">
    <a asp-controller="Discount" asp-action="AddDiscount" class="btn btn-outline-primary"><i class="fa-solid fa-circle-plus"></i>
         Add a New Discount</a>
    </div>
</div>
<br />

<div class="row">
        @foreach(var item in Model)
        {
            @Html.Partial("_ProductCard",item)
        }
</div>