@model ProductInvoice.Models.Product

@{
    ViewData["Title"] = "UpdateProduct";
}

<h1>UpdateProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProduct" onsubmit=" return Validate();">
            
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            *@<input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label" ></label>
                <input asp-for="ProductName" class="form-control" id="ProductName"/>
                   @Html.ValidationMessageFor(x => x.ProductName, "Please enter a Name", new { @class = "text-danger", style ="display:none" })
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory" class="control-label"></label>
@*                <input asp-for="ProductCategory" class="form-control" />*@
                    @Html.DropDownList("ProductCategory",(IEnumerable<SelectListItem>)ViewBag.ProductCategory,new {@class="form-control"})
                    <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductBasePrice" class="control-label"></label>
                <input type="number" asp-for="ProductBasePrice" class="form-control" />
                @Html.ValidationMessageFor(x => x.ProductBasePrice, "Please enter a Price", new { @class = "text-danger", style ="display:none" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
<script type="text/javascript">

function Validate() {
    event = event || window.event || event.srcElement;
    var return_val = true;
    if ($('#ProductName').val() == '') {
        $('#ProductName').next('span').show();
        return_val= false;
    }
    else{
        $('#ProductName').next('span').hide();
    }
    if ($('#ProductBasePrice').val() == '') {
        $('#ProductBasePrice').next('span').show();
        return_val = false;
    }
    else {
        $('#ProductBasePrice').next('span').hide();
    }
    return return_val;
}
</script>